# IDE/editor config files
.idea/*
.vscode/*
!.vscode/launch.json
.DS_Store

# Environment file
.env

# Go test coverage output
cover.out

# Temporary main file for debugging (do not commit)
main.go

# Python cache
__pycache__/
.ruff_cache

# Drawio backup file
*.bkp

/python/.venv
/python/.ruff_cache
